<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css
">
    <title>Nasza oferta</title>
    <link rel="stylesheet" href="css/subscription.css" type="text/css"/>
</head>
<body>

<div class="offer">
    <div class="plan">
        <h2>PREMIUM</h2>
        <div class="price">50 zł / Miesięcznie</div>
        <ul class="details">
            <li> <i class="fa fa-check" aria-hidden="true"></i>1 Użytkownik może oglądać jednocześnie</li>
            <li> <i class="fa fa-times" aria-hidden="true"></i>Brak dodatkowych materiałów video</li>
            <li> <i class="fa fa-times" aria-hidden="true"></i>Najnowsze filmy dostępne po upływie tygodnia</li>
            <li> <i class="fa fa-check" aria-hidden="true"></i>Jakość filmów 720p</li>
            <li> <i class="fa fa-times" aria-hidden="true"></i>Brak nagrywania</li>
        </ul>
        <a href="#">Subskrybuj</a>
    </div>
    <div class="plan top">
        <div class="listing-badges">
            <span>Popularny</span>
        </div>
        <h2>PREMIUM+</h2>
        <div class="price">60 zł / Miesięcznie</div>
        <ul class="details">
            <li> <i class="fa fa-check" aria-hidden="true"></i>3 Użytkowników może oglądać jednocześnie</li>
            <li> <i class="fa fa-check" aria-hidden="true"></i>Dodatkowe materiały video</li>
            <li> <i class="fa fa-check" aria-hidden="true"></i>Najnowsze filmy dostępne natychmiast</li>
            <li> <i class="fa fa-check" aria-hidden="true"></i>Jakość filmów 1080p HD</li>
            <li> <i class="fa fa-check" aria-hidden="true"></i>Możliwość nagrywania</li>
        </ul>
        <a href="#">Subskrybuj</a>
    </div>
</div>

</body>
</html>